{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Jinna Gik">
		<meta name="description" content="UMAYA Template is a uniquely HTML5 template develop in HTML with a modern look.">
		<meta name="keywords" content="creative, modern, clean, html5, css3, portfolio, blog, agency, templates, minimal">

		<!-- favicon -->
		<link rel="shortcut icon" href="/static/images/favicon.png">
		<link rel="apple-touch-icon" href="/static/images/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">

		<title>{{about.name}} | Product Designer</title>

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

		<!-- styles -->
		<link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	</head>
	<body class="preloader cursor-anim-enable dark-nav">
		<!-- preloader-loading start -->
		<div class="preloader__logoload-box">
			<img class="preloader__logo" src="/static/images/logo/logo-white.png" alt="logo">
			<div class="preloader__pulse"></div>
		</div><!-- preloader-loading end -->

		<!-- pointer start -->
		<div class="pointer js-pointer" id="js-pointer">
			<i class="pointer__inner fas fa-long-arrow-alt-right"></i>
			<i class="pointer__inner fas fa-search"></i>
			<i class="pointer__inner fas fa-link"></i>
		</div><!-- pointer end -->

		<!-- to top btn start -->
		<a href="#up" class="scroll-to-btn js-headroom js-midnight-color js-smooth-scroll js-pointer-large">
			<span class="scroll-to-btn__box">
				<span class="scroll-to-btn__arrow"></span>
			</span>
		</a><!-- to top btn end -->

		<!-- scroll down btn start -->
		<a href="#down" class="scroll-to-btn to-down js-headroom js-midnight-color js-smooth-scroll js-pointer-large js-scroll-btn">
			<span class="scroll-to-btn__box">
				<span class="scroll-to-btn__arrow"></span>
			</span>
		</a><!-- scroll down btn end -->

		<!-- header start -->
		<header class="fixed-header">
			<!-- logo start -->
			<div class="header-logo js-midnight-color js-headroom">
				<div class="hidden-box">
					<a href="/" class="header-logo__box js-pointer-large js-animsition-link">
						<img class="header-logo__img white" src="{% static 'images/logo/logo-white.png' %}" alt="logo">
						<img class="header-logo__img black" src="{% static 'images/logo/logo-black.png' %}" alt="logo">
					</a>
				</div>
			</div><!-- logo end -->


			<!-- header-contact start -->
			<div class="header-contact js-midnight-color js-headroom">
				<div class="header-contact__flex">
					<div class="header-contact__anim">
						<a href="mailto:danruto59@gmail.com" class="header-contact__btn vertical-text center js-pointer-large">
							<span class="vertical-text__inner"><i class="far fa-comment-dots"></i> 
								Get in touch</span>
						</a>
					</div>
				</div>
			</div><!-- header-contact end -->

			<!-- header-social start -->
			<div class="header-social after-preloader-anim js-midnight-color js-headroom">
				<ul class="list list_center list_margin-20px hidden-box">
					<li class="list__item">
						<div class="hidden-box d-inline-block">
							<a href="{{about.instagram}}" class="anim-slide tr-delay-04 js-pointer-small" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>
						</div>
					</li>
					<li class="list__item">
						<div class="hidden-box d-inline-block">
							<a href="{{about.behance}}" class="anim-slide tr-delay-06 js-pointer-small" target="_blank">
								<i class="fab fa-behance"></i>
							</a>
						</div>
					</li>
					<li class="list__item">
						<div class="hidden-box d-inline-block">
							<a href="{{about.dribble}}" class="anim-slide tr-delay-08 js-pointer-small" target="_blank">
								<i class="fab fa-dribbble"></i>
							</a>
						</div>
					</li>
					<li class="list__item">
						<div class="hidden-box d-inline-block">
							<a href="{{about.upwork}}" class="anim-slide tr-delay-10 js-pointer-small">
								<img src="{% static 'images/about/cib_upwork.svg' %}" alt="" style="width: 14px;"/>
							</a>
						</div>
					</li>
				</ul>
			</div><!-- header-social end -->
		</header><!-- header end -->

		<!-- main start -->
		<main class="js-animsition-overlay" data-animsition-overlay="true">
			<!-- pos-rel start -->
			<section id="up" class="pos-rel bg-img-cover" style="background-image:url({{banner}})">
				<!-- bg-overlay -->
				<div class="bg-overlay-black"></div>
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<div class="padding-top-bottom-120 width-100perc after-preloader-anim">
						<!-- title start -->
						<h2 class="headline-xxxxl text-center hidden-box">
							<span class="anim-slide">{{title}}</span>
						</h2><!-- title end -->

						<!-- description start -->
						<div class="flex-container description">
							<div class="four-columns column-50-100 padding-top-1 text-center">
								<span class="hidden-box d-inline-block">
									<span class="subhead-xxs anim-reveal">{{role}}</span>
								</span>
							</div>
							<div class="four-columns column-50-100 padding-top-1 text-center">
								<span class="hidden-box d-inline-block">
									<span class="subhead-xxs anim-reveal tr-delay-02">{{industry}}</span>
								</span>
							</div>
							<div class="four-columns column-50-100 padding-top-1 text-center">
								<span class="hidden-box d-inline-block">
									<span class="subhead-xxs anim-reveal tr-delay-04">{{date}}</span>
								</span>
							</div>
						</div><!-- description end -->
					</div>
				</div><!-- pos-rel end -->
			</section><!-- pos-rel end -->

			<!-- pos-rel start -->
			<div id="down" class="pos-rel section-bg-dark-1">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- flex-container start -->
					<div class="container small flex-container padding-top-60 padding-bottom-120">
						<!-- column start -->
						<div class="four-columns column-100-100 padding-top-60">
							<!-- list start -->
							<ul class="list js-scrollanim">
								{% for tag in tags %}
								<li class="list__item red dot hidden-box">
									<div class="subhead-xxs anim-slide">{{tag}}</div>
								</li>
								{% endfor %}
							</ul><!-- list end -->
						</div><!-- column end -->

						<!-- column start -->
						<div class="eight-columns column-100-100 padding-top-60">
							<div class="column-l-margin-40-999">
								<p class="body-text-m anim-text-reveal js-scrollanim">{{description}}</p>
							</div>
						</div><!-- column end -->
					</div><!-- flex-container end -->
				</div><!-- pos-rel end -->
			</div><!-- pos-rel end -->

			<!-- pos-rel start -->
			<section class="pos-rel section-bg-light-1" data-midnight="black">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- flex-container start -->
					<div class="container flex-container padding-top-100 padding-bottom-120">
						<!-- column start -->
						<div class="four-columns column-100-100 padding-top-20">
							<div class="column-l-r-margin-10-999">
								<h2 class="headline-xxs text-color-black js-scrollanim">
									<span class="hidden-box d-block">
										<span class="anim-slide">{{first_section.title}}</span>
									</span>
									<span class="hidden-box d-block">
										<!-- <span class="anim-slide tr-delay-01">cold-pressed raw</span> -->
									</span>
								</h2>
							</div>
						</div><!-- column end -->

						<!-- column start -->
						<div class="eight-columns column-100-100 padding-top-20">
							<div class="column-l-r-margin-10-999">
								<p class="body-text-s text-color-black anim-text-reveal js-scrollanim">{{first_section.description}}</p>
							</div>
						</div><!-- column end -->
						{% for image in first_section.images %}
						<!-- column start -->
						<div class="four-columns column-100-100 padding-top-60">
							<a href="#" class="column-l-r-margin-10-999 d-block js-pointer-zoom js-photo-popup">
								<img src="{{image}}" alt="project image">
							</a>
						</div><!-- column end -->
						{% endfor %}
					</div><!-- flex-container end -->
				</div><!-- pos-rel end -->
			</section><!-- pos-rel end -->

			<!-- pos-rel start -->
			<div class="pos-rel">
				<img src="{{central_image}}" alt="project image">
			</div><!-- pos-rel end -->

			<!-- pos-rel start -->
			{% for section in other_sections %}
			<section class="pos-rel section-bg-light-1" data-midnight="black">
				<!-- pos-rel start -->
				<div class="pos-rel padding-top-100 padding-bottom-120">
					<!-- flex-container start -->
					<div class="container flex-container">
						<!-- column start -->
						<div class="four-columns column-100-100 padding-top-20">
							<div class="column-l-r-margin-10-999">
								<h2 class="headline-xxs text-color-black js-scrollanim">
									<span class="hidden-box d-block">
										<span class="anim-slide">{{section.title}}</span>
									</span>
									<span class="hidden-box d-block">
										<!-- <span class="anim-slide tr-delay-01"></span> -->
									</span>
								</h2>
							</div>
						</div><!-- column end -->

						<!-- column start -->
						<div class="eight-columns column-100-100 padding-top-20">
							<div class="column-l-r-margin-10-999">
								<p class="body-text-s text-color-black anim-text-reveal js-scrollanim">{{section.description}}</p>
							</div>
						</div><!-- column end -->
					</div><!-- flex-container end -->

					<!-- container start -->
					<div class="container small">
						{% for img in section.images %}
						<div class="padding-top-60">
							<a href="#" class="d-block js-pointer-zoom js-photo-popup">
								<img src="{{img}}" alt="project image">
							</a>
						</div>
						{% endfor %}
					</div><!-- container end -->
				</div><!-- pos-rel end -->
			</section><!-- pos-rel end -->
			{% endfor %}
			{% if next_project %}
			<!-- next project start -->
			<section class="pos-rel bg-img-cover" style="background-image:url({{next_project.image}})">
				<!-- bg-overlay -->
				<div class="bg-overlay-black"></div>
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<div class="padding-top-bottom-120 container text-center">
						<div class="js-scrollanim">
							<span class="subhead-s anim-fade">Next Project:</span>

							<!-- title start -->
							<div class="margin-top-10 margin-bottom-30">
								<a href="{% url 'project-view' id=next_project.id %}" class="d-inline-block hidden-box js-pointer-large js-animsition-link">
									<h2 class="headline-xxxxl anim-slide">{{next_project.title}}</h2>
								</a>
							</div><!-- title end -->

							<!-- button start -->
							<a href="{% url 'project-view' id=next_project.id %}" class="skew-btn js-pointer-large js-animsition-link anim-fade tr-delay-04">
								<span class="skew-btn__box">
									<span class="skew-btn__content">See the case</span>
									<span class="skew-btn__arrow"></span>
								</span>
							</a><!-- button end -->
						</div>
					</div>
				</div><!-- pos-rel end -->
			</section><!-- next project end -->
			{% endif %}
		</main><!-- main end -->


		<!-- footer start -->
		<footer class="fixed-footer pos-rel bg-img-cover js-fixed-footer" style="background-image:url(/static/images/backgrounds/man-holding-videocamera-standing-in-studio-3379943.jpg)">
			<!-- bg-overlay -->
			<div class="bg-overlay-black"></div>
			<!-- pos-rel start -->
			<div class="pos-rel flex-min-height-100vh">
				<!-- container start -->
				<div class="container padding-top-bottom-120">
					<!-- footer-logo start -->
					<div class="footer-logo footer-logo-desktop-hidden padding-bottom-90">
						<img class="footer-logo__img" src="{% static 'images/logo/logo-white.png' %}" alt="logo">
					</div><!-- footer-logo end -->

					<!-- flex-container start -->
					<div class="flex-container flex-align-center">
						<!-- column start -->
						<div class="eight-columns">
							<h4 class="column-l-r-margin-10 headline-l footer-title">
								<span class="text-color-red">Designing<br>Experiences.</span> Humanizing<br>Technology.
							</h4>
						</div><!-- column end -->
					</div><!-- flex-container end -->

					<!-- flex-container start -->
					<div class="flex-container flex-justify-center padding-top-30">
						<!-- column start -->
						<div class="four-columns column-50-100 padding-top-60 footer-email">
							<div class="column-l-r-margin-10">
								<div class="headline-xxxxs">Email</div>
								<div class="margin-top-10">
									<a href="#" class="subhead-xxs text-color-b0b0b0 text-hover-to-white js-pointer-small">danruto59@gmail.com</a>
								</div>
							</div>
						</div><!-- column end -->
						<!-- column start -->
						<div class="four-columns column-50-100 padding-top-60 footer-address">
							<div class="column-l-r-margin-10">
								<div class="headline-xxxxs">Address</div>
								<div class="margin-top-10">
									<a href="#" class="subhead-xxs text-color-b0b0b0 text-hover-to-white js-pointer-small">
										PO Box 25-00100<br>
										Nairobi, KENYA
									</a>
								</div>
							</div>
						</div><!-- column end -->
						<!-- column start -->
						<div class="four-columns column-50-100 padding-top-60 footer-phone">
							<div class="column-l-r-margin-10">
								<div class="headline-xxxxs">Phone</div>
								<div class="margin-top-10">
									<a href="#" class="subhead-xxs text-color-b0b0b0 text-hover-to-white js-pointer-small">+254700917232</a>
								</div>
							</div>
						</div><!-- column end -->
					</div><!-- flex-container end -->

					<!-- footer-social start -->
					<ul class="footer-social-desktop-hidden list list_center padding-top-90">
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
						</li>
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
						</li>
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
						</li>
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Youtube">Youtube</a>
						</li>
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
						</li>
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
						</li>
					</ul><!-- footer-social end -->

				</div><!-- container end -->
			</div><!-- pos-rel end -->
		</footer><!-- footer end -->

		<!-- scripts -->
		<script src="{% static 'js/plugins.js' %}"></script>
		<script src="{% static 'js/footer-reveal.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/footer-reveal_init.js' %}"></script>
	</body>

</html>